<%= turbo_frame_tag "talks", target: "_top" do %>
  <div id="talks" class="grid min-w-full grid-cols-1 gap-8 sm:gap-12 md:gap-16 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gallery">
    <%= cache [talks, from_talk_id] do %>
      <%= render partial: "talks/card", collection: talks, as: :talk, locals: {from_talk_id: from_talk_id}, cache: true %>
    <% end %>
  </div>

  <%== pagy_nav(pagy) if pagy.pages > 1 %>
<% end %>
