<div class="container flex flex-col w-full gap-4 my-8">
  <h1 class="title">Events</h1>

  <div id="events" class="min-w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <%= render @events %>
  </div>
</div>
