<div class="container flex flex-col w-full gap-4 my-8">
  <%= link_to events_path, class: "rounded-lg bg-gray-100 inline-block font-medium flex hover:text-gray" do %>
    <%= heroicon "arrow-left" %>
    <span class="ml-2">All events</span>
  <% end %>

  <div class="mb-12">
    <%= render @event %>
  </div>

  <%= render partial: "talks/talks", locals: { talks: @talks, from_talk_id: @from_talk_id, pagy: @pagy } %>
</div>
