<div class="container mx-auto px-4 py-8 max-w-4xl">
  <h1 class="text-3xl font-bold mb-8">Edit Event: <%= @event["title"] || @event["name"] %></h1>

  <div class="card bg-base-100 border">
    <div class="card-body">
      <% playlist_id = if @playlist.is_a?(Hash)
           @playlist["playlist_id"]
         else
           @playlist&.try(:playlist_id) || @playlist&.attributes&.dig("playlist_id")
         end %>
      <%= render "form", event: @event, playlist_id: playlist_id %>
    </div>
  </div>
</div>
